/* - - - - - - - - - - - - - - - - */
/* General and Generic definitions */
/* - - - - - - - - - - - - - - - - */
* {
  font-family: Comic Sans MS;
}

html {
  font-size: 120%;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #111;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

code {
  transition: all .3s ease-in-out;
  display: block;
}

img {
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  padding: 0 5ch 0 5ch;
}

/* - - - - - - - - - - - - - - - - - */
/* - - - Tag+Class Definitions - - - */
/* - - - - - - - - - - - - - - - - - */

/* Custom hr, better then hr tag */
div.custom-hr {
  height: 0;
  border: solid 2px #000;
  width: 90%;
  border-radius: 10px;
}

/* Custom hr, better then hr tag for text containers */
div.text-custom-hr {
  height: 0;
  border: solid 1px #000;
  width: 50%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* page paragraph definitions */
p.page-paragraph, p {
  text-indent: 4ch;
  text-align: justify;
  font-size: 0.8rem;
}

/* Custom hr, better then hr tag with 100% width */
div.custom-hr-fluid {
  height: 0;
  border: solid 2px #FFF;
  width: 100%;
  border-radius: 10px;
}


/* - - - - - - - - - - - - - - - */
/* - - - Class Definitions - - - */
/* - - - - - - - - - - - - - - - */

/* - - - Especific classes - - - */
/* FIxed position */
.fixed {
  position: fixed !important;
}
/* Display block */
.display-block {
  display: block !important;
}
/* - - - Especific classes - - - */

/* Menus close buttom definition */
.close-buttom {
  font-size: 0.8rem;
  transition: all .3s ease-in-out;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

/* Close buttom icon definitions */
.close-buttom i {
  transition: all .3s ease-in-out;
}

/* Close buttom icon definitions on hover*/
.close-buttom i:hover {
  transition: all .3s ease-in-out;
  color: #900;
  transform: scale(1.5, 1.5);
}

/* Collapse code button definitions - Button to show and hide codes */
a.collapsed {
  text-decoration: none;
}

/* coppy button definitions */
a.clipboard-copy {
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(169, 163, 255, .3);
  border-radius: 4px;
}

/* - - - - - - - - - - - - - - - */
/* - - - ID's definitions- - - - */
/* - - - - - - - - - - - - - - - */
