/* - - - - - - - - - - - - - - - - */
/* General and Generic definitions */
/* - - - - - - - - - - - - - - - - */
* {
  font-family: Comic Sans MS;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #111;
}

h1 {
  margin: 0;
  font-size: 6vmin;
}

code {
  transition: all .3s ease-in-out;
  display: block;
}

img {
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

/* - - - - - - - - - - - - - - - - - */
/* - - - Tag+Class Definitions - - - */
/* - - - - - - - - - - - - - - - - - */

div.custom-hr {
  height: 0;
  border: solid 2px #000;
  width: 90%;
  border-radius: 10px;
}

div.text-custom-hr {
  height: 0;
  border: solid 1px #000;
  width: 50%;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p.page-paragraph {
  text-indent: 3em;
  text-align: justify;
  font-size: 18px;
}

div.custom-hr-fluid {
  height: 0;
  border: solid 2px #FFF;
  width: 100%;
  border-radius: 10px;
}


/* - - - - - - - - - - - - - - - */
/* - - - Class Definitions - - - */
/* - - - - - - - - - - - - - - - */

/* Especific classes */
.fixed {
  position: fixed !important;
}

.display-block {
  display: block !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

/* Footer copyrights definitions */
.copyright {
  color: #DDD;
  font-size: 1.4vmax;
  display: block;
  width: 100%
}

/* brand name definitions */
.brand-name {
  position: absolute;
  display: inline;
  right: 0;
  top: 25%;
  font-size: 100%;
  right: 25px;
}

.logo-img {
  height: 100%;
  width: auto;
  margin-right: 10px;
}

.logo-img img {
  height: 100%;
}

.modal-image-container {
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, .9);
  z-index: 1;
  padding: 50px;;
  margin: 0;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  margin: 0;
  background: none;
  border: none;
}

.figure-caption {
  font-size: 1em;
  color: rgb(226, 178, 20);
  margin-top: 20px;
}

.modal-img {
  width: 100%;
  max-width: 450px;
}

.close-buttom {
  font-size: 12pt;
  transition: all .3s ease-in-out;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

.close-buttom i {
  transition: all .3s ease-in-out;
}

.close-buttom i:hover {
  transition: all .3s ease-in-out;
  color: #900;
  transform: scale(1.5, 1.5);
}

.text-content-title {
  transition: all .1s;
  font-size: 3vmax;
  border-bottom: solid 2px #111;
  display: inline;
  height: auto;
}

.text-title-container {
  padding: 4em 4em;
}

.text-content-title:hover {
  transition: all .1s;
  border-bottom: solid 4px;
}

.text-title {
  font-size: 3.6vmax;
}

.title-description {
  font-size: 1.6vmax;
}

.text-container {
  padding: 20px;
}

.figure {
  transition: all .3s ease-in-out;
  padding: 20px 0 60px 0;
}

.figure img {
  transition: all .3s ease-in-out;
}

.figure img:hover {
  transition: all .3s ease-in-out;
  transform: scale(1.1, 1.1);
}

.code-hidden {
  transition: all .3s ease-in-out;
  display: none;
}

a.collapsed {
  text-decoration: none;
}

.clipboard-copy {
  cursor: pointer;
}

a.clipboard-copy {
  text-decoration: none;
  background-color: rgba(169, 163, 255, .3);
  border-radius: 4px;
}

/* - - - - Nav Bar - - - - */

/* Page logo definitions */
.navbar-brand {
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-container {
  transform: translateY(0);
  transition: all .5s ease-in-out;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background: #FFF;
  z-index: 1;
}

.nav-bar {
  padding: 4px;
  width: 100%;
  height: 100%;
}

.nav-bar-offpage {
  transform: translateY(-100%);
  transition: all .5s ease-in-out;
}

/* - - - - Nav Bar - - - - */

/* - - - Menu Mobile - - - */
.menu {
  transition: all .5s ease-in-out;
  transform: translateX(-100%);
  background-color: #FFF;
  box-shadow: 2px 0 5px #000;
  position: fixed;
  z-index: 2;
  float: left;
  top: 0;
  height: 100%;
  padding: 0;
  margin: 0;
}

.menu-open {
  transition: all .5s ease-in-out;
  transform: translateX(0);
}

.menu-mb-section-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.menu-mb-section-container a {
  text-decoration: none;
  display: block;
}

.menu-mb-section-container a:not(:last-child) {
  border-bottom: solid 2px rgba(30, 30, 30, .1);
}

.menu-mb-section-container li {
  transition: all .3s ease-in-out;
  border: none;
  transform: translateX(0);
}

.menu-mb-section-container li:hover {
  transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  transform: translateX(26px);
}

.menu-mb-section-container::-webkit-scrollbar {
  display: none;
}

.menu-mb-button-open {
  transition: all .5s ease-in-out;
  transform: translateX(200px);
}

.menu-mb-header {
  position: relative;
  text-align: center;
}

.menu-mb-title {
  display: block;
  padding-top: calc(20px / 2);
  font-weight: bold;
}

.fa-3 {
  font-size: 100%;
}

/* - - - Menu Mobile - - - */

/* - - - - - - - - - - - - - - - */
/* - - - ID's definitions- - - - */
/* - - - - - - - - - - - - - - - */

/* - - - - - - Modal - - - - - - */

#imageModalContainer img {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 1s;
  animation-name: zoom;
  animation-duration: 1s;
}

/* - - - - - - Modal - - - - - - */


/* - - - Menu Mobile - - - */

#buttonFa {
  margin: 8px;
}

#menu-mb-button {
  transition: all .3s ease-in-out;
  width: auto;
  border: none;
  background: none;
  color: #111;
  outline: none;
  border-radius: 4px;
  background-color: #FFF;
  z-index: 1;
}

#closeButtom {
  height: 100%;
  margin-right: 10px;
}
/* - - - Menu Mobile - - - */

/* - - - - Nav Bar - - - - */
#navContainer {
  box-shadow: 0 0 5px 0 #000;
}
/* - - - - Nav Bar - - - - */

/* - - - Footer - - - */
#footer-container {
  background-color: #111;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 30px 0 30px 0;
  z-index: -1;
}
/* - - - Footer - - - */

/* - - - page container - - - */

/* Text Container */
#pageTextContainer {
  margin-top: 100px;
}

/* Main Container */
#pageContainer {
  background-color: #FFF;
  cursor: default;
  padding: 0;
  margin: 0;
  height: auto;
}
/* - - - page container - - - */
#navbar {
  position: relative;
  margin: 0;
  height: auto;
  padding: 16px;
}



/* - - - - - - - - - - - - - - - */
/* - - - - Keyframes-  - - - - - */
/* - - - - - - - - - - - - - - - */

/* Zoom na imagem  */
@-webkit-keyframes zoom {
  0% {-webkit-transform: scale(0)}
  50% {-webkit-transform: scale(1.3)}
  100% {-webkit-transform: scale(1)}
}

@-webkit-keyframes zoom {
  0% {-webkit-transform: scale(0)}
  50% {-webkit-transform: scale(1.3)}
  100% {-webkit-transform: scale(1)}
}

/* - - - - - - - - - - - - - - - */
/* - - - - Keyframes - - - - - - */
/* - - - - - - - - - - - - - - - */





/* - - - - - - - - - - - - - - - */
/* - - - - Media Query - - - - - */
/* - - - - - - - - - - - - - - - */

@media screen and (max-width: 767px) {
  .menu-mb-section-container {
    text-align: center;
  }
}

/* - - - - - - - - - - - - - - - */
/* - - - - Media Query - - - - - */
/* - - - - - - - - - - - - - - - */
