/* - - - - - - - - - - - - - - - - */
/* General and Generic definitions */
/* - - - - - - - - - - - - - - - - */
* {
  font-family: Comic Sans MS;
}

html, body {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
  /*overflow-x: hidden;*/
}

h1 {
  margin: 0;
  font-size: 6vmin;
}

/* - - - - - - - - - - - - - - - */
/* - - - Class Definitions - - - */
/* - - - - - - - - - - - - - - - */

/* Page logo definitions */
.navbar-brand {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Footer copyrights definitions */
.copyright {
  color: #DDD;
  font-size: 1.4vmax;
  display: block;
  width: 100%
}

/* brand name definitions */
.brand-name {
  position: relative;
  display: inline;
  right: 0;
  top: 25%;
}

.nav-container {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
}

.logo-img {
  height: 100%;
  width: auto;
  margin-right: 10px;
}

.logo-img img {
  height: 100%;
}

.nav-bar {
  background: #FFF;
  padding: 4px;
  width: 100%;
  height: 100%;
}

.fixed {
  position: fixed ;
}

div.custom-hr {
  height: 0;
  border: solid 2px #000;
  width: 90%;
  border-radius: 10px;
}

div.custom-hr-fluid {
  height: 0;
  border: solid 2px #FFF;
  width: 100%;
  border-radius: 10px;
}

/* - - - Menu Mobile - - - */
.menu {
  transition: all .5s ease-in-out;
  transform: translateX(-100%);
  background-color: #FFF;
  box-shadow: 2px 0 5px #000;
  position: fixed;
  z-index: 1;
  width: 200px;
  float: left;
  top: 0;
  height: 100%;
  padding: 0;
  margin: 0;
}

.menu-open {
  transition: all .5s ease-in-out;
  transform: translateX(0);
}

.menu-mb-section-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.menu-mb-section-container::-webkit-scrollbar {
  display: none;
}

.menu-mb-button-open {
  transition: all .5s ease-in-out;
  transform: translateX(200px);
}

.menu-mb-header {
  position: relative;
  text-align: center;
  padding-top: calc(20px / 2);

}

.fa-3 {
  font-size: 100%;
}

/* - - - Menu Mobile - - - */

/* - - - - - - - - - - - - - - - */
/* - - - ID's definitions- - - - */
/* - - - - - - - - - - - - - - - */

/* - - - Menu Mobile - - - */

#buttonFa {
  margin: 8px;
}

#menu-mb-button {
  transition: all .5s ease-in-out;
  width: auto;
  border: none;
  background: none;
  color: #111;
  outline: none;
  border-radius: 4px;
  background-color: #FFF;
  z-index: 1;
}

#menu-mb-button:hover {
  transition: all .5s ease-in-out;
  color: rgb(0, 0, 200);
}
/* - - - Menu Mobile - - - */

/* - - - - Nav Bar - - - - */
#navContainer {
  box-shadow: 0 0 5px 0 #000;
}
/* - - - - Nav Bar - - - - */

/* - - - Footer - - - */
#footer-container {
  background-color: #111;
  position: fixed;
  bottom: 0;
  height: auto;
  width: 100%;
  margin: 0;
  transition: all .5s ease-in-out;
  padding: 30px 0 30px 0;
  z-index: -1;
}
/* - - - Footer - - - */

/* - - - page container - - - */

/* Text Container */
#pageTextContainer {
  margin-top: 100px;
}

/* Main Container */
#pageContainer {
  background-color: #FFF;
  padding: 0;
  transition: all .5s ease-in-out;
  margin: 0;
}
/* - - - page container - - - */
#navbar {
  position: relative;
  margin: 0;
  height: auto;
  padding: 16px;
}

/* - - - - - - - - - - - - - - - */
/* - - - - Media Query - - - - - */
/* - - - - - - - - - - - - - - - */
