<header class="text-title-container">
  <h1 id="arduinoUno1" class="text-content-title">Arduino Uno</h1>
</header>

<p>Usado como ligador de varios componentes e como cerebro de todo projeto com base nele. O exemplo de código para a placa
segue o mesmo do <a class="page-link" href="#accordion1">Arduino Nano</a>.</p>

<header class="alert alert-warning">
  <h2 id="arduinoUno2" class="text-content-title">Atenção</h2>
</header>

<p class="page-paragraph">
  O Arduino / Genuino Uno tem um polyfuse reinicializável que protege as portas USB do seu computador de shorts e sobrecorrente.
  Embora a maioria dos computadores forneçam sua própria proteção interna, o fusível fornece uma camada extra de proteção. Se mais
  de 500 mA for aplicado à porta USB, o fusível quebrará automaticamente a conexão até que o curto ou a sobrecarga seja removido.
</p>

<header class="alert alert-info">
  <h2 id="arduinoUno3" class="text-content-title">Energia</h2>
</header>

<p class="page-paragraph">
  A placa pode operar em uma fonte externa de 6 a 20 volts. Se fornecido com menos de 7V, no entanto, o pino 5V pode fornecer menos de
  cinco volts ea placa pode ficar instável. Se usar mais de 12V, o regulador de tensão pode superaquecer e danificar a placa. A faixa
  recomendada é de 7 a 12 volts.
</p>

<figure class="figure text-center">
  <img data-src="./img/components/Arduino-Uno-R3.jpg" src="./img/components/Arduino-Uno-R3.jpg" class="img-rounded" alt="Demonstração da placa Arduino UNO">
  <figcaption class="figure-caption">Demonstração da placa Arduino UNO</figcaption>
</figure>

<p class="page-paragraph">
  O exemplo de código para a placa segue o mesmo do <a href="#accordion1">Arduino Nano</a>.
</p>
