<header class="text-title-container">
  <h1 id="arduino" class="text-content-title">Arduino</h1>
</header>
<p class="page-paragraph">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<header class="text-title-container">
  <h1 id="secao1" class="text-content-title">Seção 1</h1>
</header>
<p class="page-paragraph">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<figure class="figure text-center">
  <img data-src="./img/components/arduino.png" src="./img/components/arduino.png" class="img-rounded" alt="Figura de placa Arduino">
  <figcaption class="figure-caption">Lorem ipsum dolor sit amet</figcaption>
</figure>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="./libs/jquery/jquery-3.2.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./libs/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="./js/generalFunctions.js"></script>
<script src="./js/pageFix.js"></script>
<script src="./js/pageInteraction.js"></script>
<script src="./js/toggleThings.js"></script>
<script src="./js/changeThings.js"></script>
<script src="./js/modal.js"></script>
<script src="./js/init.js"></script>
