<header class="text-title-container">
  <h1 id="pololuDualVNH5019MotorDriver1" class="text-content-title">Pololu Dual VNH5019 Motor Driver Shield</h1>
</header>

<p class="page-paragraph">
  O Arduino / Genuino Uno tem um polyfuse reinicializável que protege as portas USB do seu computador de shorts e sobrecorrente. Embora a maioria dos computadores forneçam sua própria proteção interna, o fusível fornece uma camada extra de proteção. Se mais de 500 mA for aplicado à porta USB, o fusível quebrará automaticamente a conexão até que o curto ou a sobrecarga seja removido.
</p>


<figure class="figure text-center">
  <img data-src="./img/components/pololuDualVNH5019MotorDriver.png" src="./img/components/pololuDualVNH5019MotorDriver.png" class="img-rounded" alt="Demonstração da placa Pololu Dual VNH5019 Motor Driver Shield">
  <figcaption class="figure-caption">Demonstração da placa Pololu Dual VNH5019 Motor Driver Shield</figcaption>
</figure>


<div id="accordion3" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <button type="button" name="button" class="btn btn-warning clipboard-copy" data-target="#code2"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapseOwo" aria-expanded="false" aria-controls="collapseOwo">
          Show Code Aruinos2
        </a>
      </h4>
    </div>
    <div id="collapseOwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOwo">
      <pre id="code2">
/*
Blink
Turns on an LED on for one second, then off for one second, repeatedly.
*/


// the setup function runs once when you press reset or power the board
void setup() {
// initialize digital pin LED_BUILTIN as an output.
pinMode(LED_BUILTIN, OUTPUT);
}

// the loop function runs over and over again forever
void loop() {
digitalWrite(LED_BUILTIN, HIGH);   // turn the LED on (HIGH is the voltage level)
delay(1000);                       // wait for a second
digitalWrite(LED_BUILTIN, LOW);    // turn the LED off by making the voltage LOW
delay(1000);                       // wait for a second
}
      </pre>
    </div>

  </div>
</div>
