<header class="text-title-container">
  <h1 id="PonteHDuplaL298N1" class="text-content-title">Ponte H Dupla CI L298N</h1>
</header>

<p class="page-paragraph">
  Este Driver <a target="_blank" href="http://blog.vidadesilicio.com.br/arduino/modulo-ponte-h-l298n-arduino/">Ponte H</a> é um módulo, baseado
  no chip L298N, construído para controlar cargas indutivas como relés, solenoides, <a target="_blank" href="http://www.ehow.com/about_5076660_definition-dc-motor.html">motores DC</a>
  e <a target="_blank" href="https://pt.wikipedia.org/wiki/Motor_de_passo">motores de passo</a>. Com este Driver Ponte H
  L298M é possível controlar independentemente a velocidade e rotação de 2 motores DC ou 1 motor de passo. Possui terminais parafusáveis
  para fácil instalação e buracos nas extremidades da placa para fixação.
</p>

<figure class="figure text-center">
  <img data-src="./img/components/PonteHDuplaL298N" src="./img/components/PonteHDuplaL298N.png" class="img-rounded" alt="Demonstração da placa Ponte H Dupla L298N">
  <figcaption class="figure-caption">Demonstração da placa Ponte H Dupla L298N</figcaption>
</figure>

<p class="page-paragraph">
  Para termos uma noção de como funciona cada porta do módulo CI L298N, iremos conhecer a função de cada pino:
</p>

<figure class="figure text-center">
  <img data-src="./img/components/Ponte_H_L298N_map.png" src="./img/components/Ponte_H_L298N_map.png" class="img-rounded" alt="Mapeamento dos pinos da placa Ponte H Dupla L298N">
  <figcaption class="figure-caption">Mapeamento dos pinos da placa Ponte H Dupla L298N</figcaption>
</figure>

<ul class="content-list">
  <li><strong>Motor A e Motor B:</strong> Conectores para os dois motores</li>
  <li><strong>6-35V:</strong> Porta para alimentação da placa com tensão entre 6 a 35V.</li>
  <li><strong>Ativa 5V:</strong> Quando jumpeado, a placa utilizará o regulador de tensão integrado para fornecer 5v (na porta 5v)
  quando a porta 6-35V estiver sendo alimentada por uma tensão entre 6 e 35V. Neste caso, não se deve alimentar a porta 5V pois pode
  danificar os componentes. A tensão fornecida na porta 5V pode ser usada para alimentar o Arduino, por exemplo.</li>
  <li><strong>5v:</strong> Em casos de não haver fonte de alimentação com mais de 6V podemos alimentar a placa com 5V por esta porta.</li>
  <li><strong>Ativa MA:</strong> Quando jumpeado aciona o motor A com velocidade máxima. Para controlar a velocidade do motor A basta
  remover o jumper e alimentar o pino com uma tensão entre 0 e 5v, onde 0V é a velocidade mínima (parado) e 5V a velocidade máxima.</li>
  <li><strong>Ativa MB:</strong> Quando jumpeado aciona o motor B com velocidade máxima. Para controlar a velocidade do motor B basta
  remover o jumper e alimentar o pino com uma tensão entre 0 e 5v, onde 0V é a velocidade mínima (parado) e 5V a velocidade máxima.</li>
  <li><strong>IN1 e IN2:</strong> são utilizados para controlar o sentido do motor A;</li>
  <li><strong>IN3 e IN4:</strong> são utilizados para controlar o sentido do motor B;</li>
</ul>

<p class="page-paragraph">
  Para exemplicar o uso do driver, pegamos como o exemplo a figura abaixo, definindo as conexões de cabos do motor, driver e arduino.
</p>

<figure class="figure text-center">
  <img data-src="./img/components/exemplo-integracao-com-arduino.png" src="./img/components/exemplo-integracao-com-arduino.png" class="img-rounded" alt="Demonstração da placa Ponte H Dupla L298N">
  <figcaption class="figure-caption">Demonstração de conexão dos cabos (<a href="http://blog.vidadesilicio.com.br/arduino/modulo-ponte-h-l298n-arduino/" target="_blank">Referênica</a>)</figcaption>
</figure>

<p class="page-paragraph">
  O código para testar a representação da imagem acima segue abaixo, porém com definições de conexão diferenciadas, incluindo o controle
  de potência do motor nas portas PWM.
</p>

<div id="accordion2" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <button type="button" name="button" class="btn btn-warning clipboard-copy" data-target="#code3"><i class="fa fa-clipboard" aria-hidden="true"></i> Copy</button>
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
          Show Code Aruino
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOwo">
      <pre id="code3">
// Definições dos pinos do motor esquerdo
#define pino_1_motor_A 4
#define pino_2_motor_A 5
// Definições dos pinos do motor Direito
#define pino_1_motor_B 7
#define pino_2_motor_B 8

/*
Definição das porta de potencia que receberão o valor entre
0 (0v) e 255 (5v) caso seja ligado o motor para receber alimentação
do arduino. Caso receba alimentação externa, este receberá alimentação
entre 0v e a voltagem máxima da fonte para a placa
*/
// Potência do motor esquerdo
#define potenciaMotorA 3
// Potência do motor direito
#define potenciaMotorB 6

void setup() {

  // Controle da Direção Esquerdo
  pinMode(pino_1_motor_A, OUTPUT);
  pinMode(pino_2_motor_A, OUTPUT);
  // Controle da Direção Direito
  pinMode(pino_1_motor_B, OUTPUT);
  pinMode(pino_2_motor_B, OUTPUT);
  // Potência Esquerda
  pinMode(potenciaMotorA, OUTPUT);
  // Potência Direita
  pinMode(potenciaMotorB, OUTPUT);

}

void loop() {

  direcaoMotor('f', 255);
  delay(1000);
  direcaoMotor('t', 255);
  delay(1000);
  direcaoMotor('e', 255);
  delay(1000);
  direcaoMotor('d', 255);
  delay(1000);

}

/*
Define a direção do motor

OBS: A direção do motor pode ser invertida de acordo com as
configurações abaixo. Isso ocorre devido a ordem dos cabos
colocados nos terminais parafusáveis.

*/
void direcaoMotor(char opcao, int velocidade) {

  switch(opcao) {
    case 'f':
    digitalWrite(pino_1_motor_A, HIGH);
    digitalWrite(pino_2_motor_A, LOW);
    digitalWrite(pino_1_motor_B, LOW);
    digitalWrite(pino_2_motor_B, HIGH);
    analogWrite(potenciaMotorA, velocidade);
    analogWrite(potenciaMotorB, velocidade);
    break;

    case 't':
    digitalWrite(pino_1_motor_A, LOW);
    digitalWrite(pino_2_motor_A, HIGH);
    digitalWrite(pino_1_motor_B, HIGH);
    digitalWrite(pino_2_motor_B, LOW);
    analogWrite(potenciaMotorA, velocidade);
    analogWrite(potenciaMotorB, velocidade);
    break;

    case 'e':
    digitalWrite(pino_1_motor_A, HIGH);
    digitalWrite(pino_2_motor_A, LOW);
    digitalWrite(pino_1_motor_B, HIGH);
    digitalWrite(pino_2_motor_B, LOW);
    analogWrite(potenciaMotorA, velocidade);
    analogWrite(potenciaMotorB, velocidade);
    break;

    case 'd':
    digitalWrite(pino_1_motor_A, LOW);
    digitalWrite(pino_2_motor_A, HIGH);
    digitalWrite(pino_1_motor_B, LOW);
    digitalWrite(pino_2_motor_B, HIGH);
    analogWrite(potenciaMotorA, velocidade);
    analogWrite(potenciaMotorB, velocidade);
    break;

    default:
    digitalWrite(pino_1_motor_A, LOW);
    digitalWrite(pino_2_motor_A, LOW);
    digitalWrite(pino_1_motor_B, LOW);
    digitalWrite(pino_2_motor_B, LOW);
    analogWrite(potenciaMotorA,  LOW);
    analogWrite(potenciaMotorB,  LOW);
    break;
  }

}

      </pre>
    </div>

  </div>
</div>

<p class="page-paragraph">
  Existe formas melhoradas para realizar a ação de movimento do motor, com bibliotecas otimizadas
  e ágeis. Para mais informações, use como base esse <a href="https://goo.gl/8YQqCT" target="_blank">LINK</a>
</p>
